<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="vue.js"></script>
	
	<title>Vue Js App</title>
</head>


<body>
<div id="conditional">
<p v-if="show==false">you can see me! <span>span </span></p>
<p v-else-if="show==true">else if you can see me! <span>span </span></p>
<p v-else>now you can see me!</p>
<p>do you aslo see me!</p>

<template v-if="show">
<h1> heading one template</h1>
<p> page element in template</p>
</template>
<p v-show="show">you can see me! with v-show</p>
<button @click="show=!show">Switch</button>
<ul>
<li v-for="(ingradient,index) in ingradients">{{ingradient}} ({{index}})</li>
</ul>

<template v-for="(ingradient,i) in ingradients">
<h1> {{ingradient}}</h1>
<p> {{i}}</p>
</template>
<hr>
<ul>
<li v-for="(person,i) in persons">{{person.name}}-{{person.age}}-{{person.desgnation}}</li>
</ul>
<hr>
<ul>
<li v-for="(person,i) in persons">
<div v-for="(value,key,index) in person">{{key}}-{{value}}-({{index}})</div>
</li>
</ul>
<hr>
<div v-for="n in 20">{{n}}-{{Math.floor((Math.random()*10)+1)}}</div>
</div>
</body>
<script type="text/javascript" src="conditional.js"></script>
</html>
