

<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="vue.js"></script>
	  <link rel="stylesheet" href="styles.css">
	<title>Vue Js App</title>
</head>


<body>
<div id="practice">


<div
            class="demo" :style="{backgroundColor:color}"
            >
    </div>
    <div
            class="demo" :style="mystyle"
            >
    </div>
    <div
            class="demo"
            >
    </div>
    <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="width">

</div>
</body>
<script type="text/javascript" src="css.js"></script>
</html>